html,body{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;

}
form{
	
}
table{
	margin: auto;
	border-width: 1px;
	border-style:  solid dotted dashed double;
	width: 35%;
	text-align:center;
}
h1{
	text-align: center;
}
table tr th{
	padding: 6px;
}
tr th button{
	color: red;
	background-color: #accabd;
}
table input{
	text-align: center;
}