html,body{
	padding: 0;
	margin: 0;
}
body{
	margin: auto;
    background-color: rgb(180,180,180,);
    color: darkred;
    /*opacity: 0.2;*/
    width: 100%;
    margin:10px 500px;
}
 table{
	border: 2px solid;
}
